#ignore .vscode files

# common file extensions
*.log
*.pdb
*.json
*.exe
*.txt
*.csv
*.jpg
*.png
*.dir
*.dat
*.bak
*.mp4
*.db
C,C++/Book/
.vscode

# folders
media/
__pycache__
None/
tests
Miramonte
beautifiers
data
test.py